.page-header {
    border: 1px black dotted;
    display: flex;
}

.logo{
    margin-left: 150px;
    width: 200px;
    height: 100%;
    padding: 10px;
    float: left;
}

.page-header nav {
    margin-top: 2%;
}

header ul li{
    display: inline-block;
}

.main {
    margin-left: 400px;
    margin-right: 400px;
    background-color: aquamarine;
    border: 2px black solid;
    height: 900px;
    
}

.pfp{
    max-width: 10em;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
}

.bio {
    padding: 20px;
}

.bio > p {
    padding: 10px;
    padding-left: 20px;;
}
.projects {
    display: flex;
    justify-content: center;
}

.project {
    display: inline-block;
    padding: 10px;
}

.previous {
    border-left: 2px beige double;
}

footer {
    background-color: black;
}

footer > p {
    height: 50px;
    margin-top: 0;
    text-align: center;
    color: white;
}

@media only screen and (max-width: 1075px){
    .main {
        margin-left: 300px;
        margin-right: 300px;
        }
}